@use "sidebar";

.header {
  display: grid;
  grid-template-rows: repeat(2, auto);
  background-color: hsl(0deg 0% 100%);
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 1em 4em 1em 3em;
  gap: 1em;
}

.header-row-one {
  display: flex;
}

.h-r-one-left,
.h-r-one-right {
  align-items: center;
}

.h-r-one-left {
  display: flex;
  flex: 1 1 auto;
  gap: 1em;
}

#search,
#notifications {
  height: 28px;
  width: 28px;
  display: inline-block;
  padding: 2px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: hsl(0, 0%, 95%);
  }
  &:active {
    background-color: hsl(0, 0%, 99%);
  }
}

.h-r-one-right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  flex: 0 1 auto;
  gap: 2em;
  .profile-image {
    width: 47px;
    height: 47px;
    justify-self: center;
  }
  .username {
    margin-left: -0.5em;
    margin-right: 0.7em;
    font-weight: bold;
    font-size: large;
    cursor: default;
  }
  #notifications {
    margin-right: -0.3em;
    justify-self: end;
  }
}

#search-bar {
  border: none;
  background-color: hsl(214.29deg 31.82% 91.37%);
  height: 27px;
  border-radius: 4em;
  padding: 5px;
  flex: 1 1 auto;
  margin-right: 10%;
  &:focus {
    outline: none;
  }
}

.header-row-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.h-r-two-left,
.h-r-two-right {
  display: flex;
}

.h-r-two-left {
  align-items: center;
  gap: 1em;
  margin-left: 0.5em;
  .profile-image {
    width: 3.7em;
    height: 3.7em;
  }
}

.welcome-text {
  font-weight: bold;
  font-size: 14.5px;
}

.welcome-text + .username {
  font-weight: 800;
  font-size: 21px;
}

.h-r-two-right {
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  button {
    justify-self: end;
    background-color: sidebar.$primary-clr;
    color: sidebar.$white;
    border: none;
    height: 38px;
    width: 90px;
    border-radius: 3em;
    font-weight: bold;
    font-size: 14.5px;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: hsl(258, 90%, 62%); // CHANGE THIS IF CHANGED THE PRIMARY COLOR
    }
    &:active {
      background-color: hsl(258, 90%, 69%); // THIS TOO
    }
  }
}

.profile-image,
.welcome .username {
  cursor: pointer;
}

.profile-image:active {
  opacity: 0.77;
}
