@use "sidebar";
@use "header";
@use "content";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 5fr;
  grid-template-rows: auto 1fr;
  font-family: Roboto, sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}

img {
  width: 25px;
  height: 25px;
  -webkit-user-drag: none;
}
